// Slide to right
@keyframes slideToRight {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

// Slide to left
@keyframes slideToLeft {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

// Slide to top
@keyframes slideToTop {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

// Slide to bottom
@keyframes slideToBottom {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

// Fade In
@keyframes fadeIn {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

// Fade Out
@keyframes fadeOut {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(0); opacity: 0; }
}

// Come In
@keyframes comeIn {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

// 
@keyframes animateStrokeSVG {
	to { stroke-dashoffset: 0; }
}

// Show
@keyframes showElement {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Bounce
@keyframes bounce {
  from { transform: translateY(-5rem); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

// Drop Down Bounce
@keyframes dropDownBounce {
  0% { opacity: 0; transform: translateY(-70rem); }
  80% { opacity: 0.8; transform: translateY(3rem); }
  90% { opacity: 1; transform: translateY(-1.5rem); }
  100% { transform: translateY(0); }
}