.header {
  position: relative;
  block-size: 100vh;

  &__logo {
    margin-block-end: auto;
    animation: slideToRight .5s ease-out 2.9s backwards;
  }

  &__title {
    font-weight: 800;
    font-size: 20rem;
    line-height: .78;
    text-transform: uppercase;
    max-width: 46.7rem;
    opacity: 0.07;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    animation: comeIn .8s ease-out .2s backwards;
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: solid .1rem rgba($colorWhite, 0.25);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-block-end: 5rem;
    animation: slideToRight .8s ease 1s backwards;
  }

  &__date {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.19;
    letter-spacing: .14rem;
    animation: dropDownBounce .4s ease-in 2s backwards;

    .num {
      display: block;
      font-weight: 800;
      font-size: 7.2rem;
      line-height: .89;
    }
  }

  &__location {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    letter-spacing: .105rem;
    position: relative;
    display: inline-block;
    padding-inline-start: 2rem;
    animation: dropDownBounce .4s ease-in 1.9s backwards;

    &::before {
      content: "";
      position: absolute;
      inline-size: 1.1rem;
      block-size: 1.4rem;
      background-image: url(../images/poi.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
    }
  }

  &__arrows {
    position: absolute;
    z-index: 4;
    bottom: 5.5rem;
    left: 20rem;
    animation: bounce 1s ease 4s backwards infinite;
  }

  &__slider {
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    
    &-overlay {
      background: radial-gradient(circle, rgba($colorBlack, 0.5) 0%, rgba($colorBlack, 0.95) 100%);
      inline-size: 100%;
      block-size: 100%;
    }
    &-item {
      opacity: 0;
      transform: scale(2);
      visibility: hidden;
      position: absolute;
      block-size: 100%;
      inline-size: 100%;
      block-size: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 1s;

      &:nth-child(1) {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
      }
    }

    &-map {
      position: absolute;
      z-index: 4;
      top: 0;
      right: 0;
    
      &.north { .header__slider-map--place { top: 24rem; right: 54.2rem; }}
      &.south { .header__slider-map--place { top: 48.3rem; right: 18.2rem; }}
      &.west { .header__slider-map--place { top: 33.4rem; right: 33.3rem; }}
      &.east { .header__slider-map--place { top: 37.7rem; right: 24.6rem; }}
  
      &--place {
        position: absolute;
        z-index: 4;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: .1rem;
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      li {
        &:nth-child(1) { animation: dropDownBounce .4s ease-in 2.4s backwards; }
        &:nth-child(2) { animation: dropDownBounce .4s ease-in 2.3s backwards; }
        &:nth-child(3) { animation: dropDownBounce .4s ease-in 2.2s backwards; }
        &:nth-child(4) { animation: dropDownBounce .4s ease-in 2.1s backwards; }
      }
  
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
  
        &:hover {
          img { filter: brightness(0.4); transform: scale(1.1); }
          span { color: $colorAccent; transform: translateX(.3rem); }
        }
  
        img { transition: all .2s ease-in; }
  
        span {
          font-size: 1.2rem;
          line-height: 1.17;
          font-weight: 500;
          letter-spacing: .3rem;
          transition: all .2s ease-in;
        }
      }
    }
  }

  &__slider {
    &-info {
      position: absolute;
      right: 8rem;
      bottom: 11.6rem;
      text-align: right;
      text-transform: uppercase;
  
      &--title {
        font-size: 8rem;
        line-height: 1.075;
        font-weight: 800;
        margin-block-end: 4.8rem;
        animation: slideToLeft .8s ease-out 2.8s backwards;
      }
  
      &--suptitle {
        margin-block-end: .5rem;
        animation: comeOutSlideToLeft .8s ease-out 3.4s backwards;
      }
  
      &--suptext {
        margin-block-end: .8rem;
        animation: comeOutSlideToLeft .8s ease-out 2.2s backwards;
      }
  
      &--text {
        font-size: 4rem;
        line-height: 1.15;
        font-weight: 800;
        margin-block-end: 2rem;
        animation: slideToLeft .8s ease-out 1.6s backwards;
      }
    }
  }

  &__dots {
    position: absolute;
    right: 8rem;
    bottom: 3.6rem;
    inline-size: 100%;
    display: flex;
    justify-content: end;
    gap: 4rem;

    &-item {
      &:nth-child(1) { animation: slideToTop .8s ease-out .5s backwards; }
      &:nth-child(2) { animation: slideToTop .8s ease-out .8s backwards; }
      &:nth-child(3) { animation: slideToTop .8s ease-out 1.1s backwards; }
      &:nth-child(4) { animation: slideToTop .8s ease-out 1.4s backwards; }

      &.active { & .header__dots-box { border-top: .4rem solid $colorAccent; }}
    }

    &-number {
      font-size: 2.4rem;
      line-height: 1.42;
      font-weight: 800;
    }
  
    &-name {
      font-weight: 300;
      line-height: .8;
    }
  
    &-box {
      inline-size: 20rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      block-size: 2.8rem;
      border-top: .4rem solid $colorWhite;
      padding-block-start: 1rem;
      transition: all .3s;
    }
  }
}