.header {
  position: relative;
  block-size: 100vh;

  &__title {
    font-weight: 800;
    font-size: 20rem;
    line-height: .78;
    text-transform: uppercase;
    max-width: 46.7rem;
    opacity: 0.07;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: solid .1rem rgba($colorWhite, 0.25);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-block-end: 5rem;
    animation: slideToRight 1s ease backwards;
  }

  &__date {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.19;
    letter-spacing: .14rem;

    .num {
      display: block;
      font-weight: 800;
      font-size: 7.2rem;
      line-height: .89;
    }
  }

  &__location {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    letter-spacing: .105rem;
    position: relative;
    display: inline-block;
    padding-inline-start: 2rem;

    &::before {
      content: "";
      position: absolute;
      inline-size: 1.1rem;
      block-size: 1.4rem;
      background-image: url(../images/poi.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
    }
  }

  &__arrows {
    position: absolute;
    z-index: 4;
    bottom: 5.5rem;
    left: 20rem;
    animation: arrowBounce 1s ease forwards infinite;
  }

  &__slider {
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    
    &-overlay {
      background: radial-gradient(circle, rgba($colorBlack, 0.5) 0%, rgba($colorBlack, 0.95) 100%);
      inline-size: 100%;
      block-size: 100%;
    }
    &-item {
      opacity: 0;
      transform: scale(2);
      visibility: hidden;
      position: absolute;
      block-size: 100%;
      inline-size: 100%;
      block-size: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 1s;

      &:nth-child(1) {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
      }
    }
  }

  &__map {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
  
		&.north {
        // animation: slideToBottom 1s ease backwards;

			.header__map-place {
				top: 24rem;
				right: 54.2rem;
			}
		}
		&.south {
			.header__map-place {
				top: 48.3rem;
				right: 18.2rem;
			}
		}
		&.west {
			.header__map-place {
				top: 33.4rem;
				right: 33.3rem;
			}
		}
		&.east {
			.header__map-place {
				top: 37.7rem;
				right: 24.6rem;
			}
		}
		&-place {
			position: absolute;
			z-index: 4;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 1px;
		}
	}
}

.logo-small {
	position: absolute;
	top: 0;
	left: 0;
	inline-size: 10rem;
	display: none;
	z-index: 6;
}

.logo {
  margin-block-end: auto;
}

.menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      &:hover {
        img {
          filter: brightness(0.4);
          transform: scale(1.1);
        }

        span {
          color: $colorAccent;
          transform: translateX(.3rem);
        }
      }

      img {
        transition: all .2s ease-in;
      }

      span {
        font-size: 1.2rem;
        line-height: 1.17;
        font-weight: 500;
        letter-spacing: .3rem;

        transition: all .2s ease-in;
      }
    }
  }
}

.slider-item {
  &__info {
    position: absolute;
    right: 8rem;
    bottom: 11.6rem;
    text-align: right;
    text-transform: uppercase;
    animation: slideToLeft 1s ease backwards;

    &-title {
      font-size: 8rem;
      line-height: 1.075;
      font-weight: 800;
      margin-block-end: 4.8rem;
    }

    &-suptitle {
      margin-block-end: .5rem;
    }

    &-suptext {
      margin-block-end: .8rem;
    }

    &-text {
      font-size: 4rem;
      line-height: 1.15;
      font-weight: 800;
      margin-block-end: 2rem;
    }

    &-link {
      img {
        display: inline-block;
      }
    }
  }
}

.slider-dots {
	position: absolute;
	right: 8rem;
	bottom: 3.6rem;
	inline-size: 100%;
  display: flex;
  justify-content: end;
  gap: 4rem;
  animation: slideToTop 1.5s ease backwards;

  &__item {
    &.active {
      & .dots-box {
        border-top: .4rem solid $colorAccent;
      }
    }
  }
}

.dots-box {
	inline-size: 20rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	block-size: 2.8rem;
	border-top: .4rem solid $colorWhite;
	padding-block-start: 1rem;
  transition: all .3s;

	&__number {
		font-size: 2.4rem;
		line-height: 1.42;
		font-weight: 800;
	}

	&__name {
		font-weight: 300;
		line-height: .8;
	}
}

