$colorMainBg: #171919;;
$secondaryBgColor: #a5978e;

$colorAccent: #4AF6CD;

$mainkColor: #222;
$secondaryColor: #333;

$colorWhite: #fff;
$colorBlack: #000;

$darkColor: #111;
$tintColor: #aaa;

$accentColor: #343444;
