    <!-- SECTION SHOP -->
    <section id="shop" class="shop" style="background-image: url(images/shop-bg.webp);">
      <div class="title">
        <span class="anim">Shop</span>
        <h2 class="anim">Shop</h2>
      </div>
      <div class="shop__items">
        <div class="shop__item">
          <div class="shop__item-inner">
            <div class="shop__item-info">
              <div class="descr">
                <div class="headline-right anim">Style</div>
                <div class="descr__head descr__head-shop anim">
                  North Nugget TT Surfboard
                  <span class="shop__star">
                    <img class="anim" src="images/star.svg" alt="Star icon yellow">
                    <img class="anim" src="images/star.svg" alt="Star icon yellow">
                    <img class="anim" src="images/star.svg" alt="Star icon yellow">
                    <img class="anim" src="images/star.svg" alt="Star icon yellow">
                    <img class="anim" src="images/star.svg" alt="Star icon yellow">
                  </span>
                  <i class="shop__price">$799<sup>99</sup></i>
                </div>
              </div>
              <div class="holder__path-btn anim">
                <a href="#" class="btn">Drop <span>In</span></a>
              </div>
            </div>
            <div class="shop__item-content">
              <div class="surfboard anim">
                <img src="images/surfboard.webp" alt="surfboard">
                <div class="surfboard__box surfboard__box--1 anim">
                  <div class="surfboard__box-circle">
                    <div class="surfboard__box-row"></div>
                    <div class="surfboard__box-row"></div>
                  </div>
                  <div class="surfboard__box-content">Double Concave with Vee Shape low point</div>
                </div>
                <div class="surfboard__box surfboard__box--2 anim">
                  <div class="surfboard__box-circle">
                    <div class="surfboard__box-row"></div>
                    <div class="surfboard__box-row"></div>
                  </div>
                  <div class="surfboard__box-content">Perfect Design</div>
                </div>
                <div class="surfboard__box surfboard__box--3 anim">
                  <div class="surfboard__box-circle">
                    <div class="surfboard__box-row"></div>
                    <div class="surfboard__box-row"></div>
                  </div>
                  <div class="surfboard__box-content">Double Concave with carbon rise</div>
                </div>
              </div>
              <div class="shop__extras">
                <div class="shop__extras-title anim">Extras</div>
                <div class="shop__extras-inner anim">
                  <div class="shop__extras-box">
                    <div class="shop__extras-img">
                      <img src="images/wax.webp" alt="wax">
                    </div>
                    <div class="shop__extras-name">Sex Wax</div>
                    <div class="shop__extras-price">$24.99</div>
                  </div>
                  <div class="shop__extras-box">
                    <div class="shop__extras-img">
                      <img src="images/bracelet.webp" alt="wax">
                    </div>
                    <div class="shop__extras-name">Pura Vida</div>
                    <div class="shop__extras-price">$$27.99</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>