    <!-- SECTION SLEEP -->
    <section id="sleep" class="holder sleep">
      <div class="right-image bottom-end anim">
        <img src="images/flower.webp" alt="Flower">
      </div>
      <div class="title">
        <div class="title">
          <span class="anim">Sleep</span>
          <h2 class="anim">Sleep</h2>
        </div>
      </div>
      <div class="slider-arrow anim">
        <button class="slider-arrow__prev"><img src="images/arrow-left.svg" alt="Prev slider"></button>
        <button class="slider-arrow__next"><img src="images/arrow-right.svg" alt="Next slider"></button>
      </div>
      <div class="holder__slider slider">
        <!-- slider item 1 -->
        <div class="holder__slider-item holder__block slider-item">
          <div class="holder__item" style="background-image: url(images/sleep-bg.webp);">
            <div class="holder__item-subtitle">
              <div class="subtitle">
                <div class="headline-left anim">Resorts</div>
                <div class="subtitle__head anim">Hawaii <span>|</span> USA</div>
              </div>
            </div>
          </div>
          <div class="holder__item-descr" style="background-image: url(images/hammock.webp);">
            <div class="descr">
              <div class="headline-right anim">Rating</div>
              <div class="descr__head anim">
                Exelent
                <span>
                  <img class="anim" src="images/star.svg"alt="Star icon yellow">
                  <img class="anim" src="images/star.svg"alt="Star icon yellow">
                  <img class="anim" src="images/star.svg"alt="Star icon yellow">
                  <img class="anim" src="images/star.svg"alt="Star icon yellow">
                  <img class="anim" src="images/star.svg"alt="Star icon yellow">
                </span>
              </div>
            </div>
          </div>
          <div class="holder__item-info">
            <div class="holder__path anim">
              <div class="holder__path-subtitle">Resort</div>
              <div class="holder__path-title">Depot Beach <br> Hawaii</div>
            </div>
            <div class="holder__path anim">
              <div class="holder__path-subtitle"># of Nights</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="nights" type="number" min="1" max="9" step="1" value="5">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                nights
              </div>
            </div>
            <div class="holder__path anim">
              <div class="holder__path-subtitle"># of Guests</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="guests" type="number" min="1" max="9" step="1" value="4">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                guests
              </div>
            </div>
            <div class="holder__path anim">
              <div class="holder__path-subtitle">Pricing</div>
              <div class="holder__path-title"><i class="sum" data-nights="55" data-guests="25"></i> USD <span>Per
                  Night</span></div>
            </div>
          </div>
          <div class="holder__path-btn anim">
            <a href="#" class="btn">Book <span>Flight</span></a>
          </div>
        </div>
        <!-- slider item 2 -->
        <div class="holder__slider-item holder__block slider-item">
          <div class="holder__item" style="background-image: url(images/sleep-bg.webp);">
            <div class="holder__item-subtitle">
              <div class="subtitle">
                <div class="headline-left">Resorts</div>
                <div class="subtitle__head">California <span>|</span> USA</div>
              </div>
            </div>
          </div>
          <div class="holder__item-descr" style="background-image: url(images/hammock.png);">
            <div class="descr">
              <div class="headline-right">Rating</div>
              <div class="descr__head">
                Exelent
                <span>
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                </span>
              </div>
            </div>
          </div>
          <div class="holder__item-info">
            <div class="holder__path">
              <div class="holder__path-subtitle">Resort</div>
              <div class="holder__path-title">Malibu Beach <br> California</div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Nights</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="nights" type="number" min="1" max="9" step="1" value="5">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                nights
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Guests</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="guests" type="number" min="1" max="9" step="1" value="4">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                guests
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle">Pricing</div>
              <div class="holder__path-title"><i data-nights='55' data-guests='25' class="sum">349</i> USD <span>Per
                  Night</span></div>
            </div>
          </div>
          <div class="holder__path-btn">
            <a href="#" class="btn">Book <span>Flight</span></a>
          </div>
        </div>
        <!-- slider item 3 -->
        <div class="holder__slider-item holder__block slider-item">
          <div class="holder__item" style="background-image: url(images/sleep-bg.webp);">
            <div class="holder__item-subtitle">
              <div class="subtitle">
                <div class="headline-left">Resorts</div>
                <div class="subtitle__head">Santo Domingo <span>|</span> Dominikana</div>
              </div>
            </div>
          </div>
          <div class="holder__item-descr" style="background-image: url(images/hammock.png);">
            <div class="descr">
              <div class="headline-right">Rating</div>
              <div class="descr__head">
                Very Good
                <span>
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                </span>
              </div>
            </div>
          </div>
          <div class="holder__item-info">
            <div class="holder__path">
              <div class="holder__path-subtitle">Resort</div>
              <div class="holder__path-title">Palapa Juanillo <br> Dominikana</div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Nights</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="nights" type="number" min="1" max="9" step="1" value="5">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                nights
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Guests</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="guests" type="number" min="1" max="9" step="1" value="4">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                guests
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle">Pricing</div>
              <div class="holder__path-title"><i data-nights='55' data-guests='25' class="sum">349</i> USD <span>Per
                  Night</span></div>
            </div>
          </div>
          <div class="holder__path-btn">
            <a href="#" class="btn">Book <span>Flight</span></a>
          </div>
        </div>
        <!-- slider item 4 -->
        <div class="holder__slider-item holder__block slider-item">
          <div class="holder__item" style="background-image: url(images/sleep-bg.webp);">
            <div class="holder__item-subtitle">
              <div class="subtitle">
                <div class="headline-left">Resorts</div>
                <div class="subtitle__head">San Paulo <span>|</span> Brasil</div>
              </div>
            </div>
          </div>
          <div class="holder__item-descr" style="background-image: url(images/hammock.webp);">
            <div class="descr">
              <div class="headline-right">Rating</div>
              <div class="descr__head">
                Exelent
                <span>
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                </span>
              </div>
            </div>
          </div>
          <div class="holder__item-info">
            <div class="holder__path">
              <div class="holder__path-subtitle">Resort</div>
              <div class="holder__path-title">Eden’s Beach <br> Brasil</div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Nights</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="nights" type="number" min="1" max="9" step="1" value="5">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                nights
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Guests</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="guests" type="number" min="1" max="9" step="1" value="4">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                guests
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle">Pricing</div>
              <div class="holder__path-title"><i data-nights='55' data-guests='25' class="sum">349</i> USD <span>Per
                  Night</span></div>
            </div>
          </div>
          <div class="holder__path-btn">
            <a href="#" class="btn">Book <span>Flight</span></a>
          </div>
        </div>
        <!-- slider item 5 -->
        <div class="holder__slider-item holder__block slider-item">
          <div class="holder__item" style="background-image: url(images/sleep-bg.webp);">
            <div class="holder__item-subtitle">
              <div class="subtitle">
                <div class="headline-left">Resorts</div>
                <div class="subtitle__head">Hossegor <span>|</span> France</div>
              </div>
            </div>
          </div>
          <div class="holder__item-descr" style="background-image: url(images/hammock.webp);">
            <div class="descr">
              <div class="headline-right">Rating</div>
              <div class="descr__head">
                Exelent
                <span>
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                </span>
              </div>
            </div>
          </div>
          <div class="holder__item-info">
            <div class="holder__path">
              <div class="holder__path-subtitle">Resort</div>
              <div class="holder__path-title">Vieux Boucau <br> France</div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Nights</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="nights" type="number" min="1" max="9" step="1" value="5">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                nights
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Guests</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="guests" type="number" min="1" max="9" step="1" value="4">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                guests
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle">Pricing</div>
              <div class="holder__path-title"><i data-nights='55' data-guests='25' class="sum">349</i> USD <span>Per
                  Night</span></div>
            </div>
          </div>
          <div class="holder__path-btn">
            <a href="#" class="btn">Book <span>Flight</span></a>
          </div>
        </div>
        <!-- slider item 6 -->
        <div class="holder__slider-item holder__block slider-item">
          <div class="holder__item" style="background-image: url(images/sleep-bg.webp);">
            <div class="holder__item-subtitle">
              <div class="subtitle">
                <div class="headline-left">Resorts</div>
                <div class="subtitle__head">Gqeberha <span>|</span> South Africa</div>
              </div>
            </div>
          </div>
          <div class="holder__item-descr" style="background-image: url(images/hammock.webp);">
            <div class="descr">
              <div class="headline-right">Rating</div>
              <div class="descr__head">
                very good
                <span>
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                </span>
              </div>
            </div>
          </div>
          <div class="holder__item-info">
            <div class="holder__path">
              <div class="holder__path-subtitle">Resort</div>
              <div class="holder__path-title">Kings Beach <br> South Africa</div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Nights</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="nights" type="number" min="1" max="9" step="1" value="5">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                nights
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Guests</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="guests" type="number" min="1" max="9" step="1" value="4">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                guests
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle">Pricing</div>
              <div class="holder__path-title"><i data-nights='55' data-guests='25' class="sum">349</i> USD <span>Per
                  Night</span></div>
            </div>
          </div>
          <div class="holder__path-btn">
            <a href="#" class="btn">Book <span>Flight</span></a>
          </div>
        </div>
        <!-- slider item 7 -->
        <div class="holder__slider-item holder__block slider-item">
          <div class="holder__item" style="background-image: url(images/sleep-bg.webp);">
            <div class="holder__item-subtitle">
              <div class="subtitle">
                <div class="headline-left">Resorts</div>
                <div class="subtitle__head">Siargao <span>|</span> Philippines</div>
              </div>
            </div>
          </div>
          <div class="holder__item-descr" style="background-image: url(images/hammock.webp);">
            <div class="descr">
              <div class="headline-right">Rating</div>
              <div class="descr__head">
                Exelent
                <span>
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                </span>
              </div>
            </div>
          </div>
          <div class="holder__item-info">
            <div class="holder__path">
              <div class="holder__path-subtitle">Resort</div>
              <div class="holder__path-title">Cloud Nine <br> Philippines</div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Nights</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="nights" type="number" min="1" max="9" step="1" value="5">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                nights
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Guests</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="guests" type="number" min="1" max="9" step="1" value="4">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                guests
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle">Pricing</div>
              <div class="holder__path-title"><i data-nights='55' data-guests='25' class="sum">349</i> USD <span>Per
                  Night</span></div>
            </div>
          </div>
          <div class="holder__path-btn">
            <a href="#" class="btn">Book <span>Flight</span></a>
          </div>
        </div>
        <!-- slider item 8 -->
        <div class="holder__slider-item holder__block slider-item">
          <div class="holder__item" style="background-image: url(images/sleep-bg.webp);">
            <div class="holder__item-subtitle">
              <div class="subtitle">
                <div class="headline-left">Resorts</div>
                <div class="subtitle__head">Queensland <span>|</span> Australia</div>
              </div>
            </div>
          </div>
          <div class="holder__item-descr" style="background-image: url(images/hammock.webp);">
            <div class="descr">
              <div class="headline-right">Rating</div>
              <div class="descr__head">
                Exelent
                <span>
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                  <img src="images/star.svg" alt="Star icon yellow">
                </span>
              </div>
            </div>
          </div>
          <div class="holder__item-info">
            <div class="holder__path">
              <div class="holder__path-subtitle">Resort</div>
              <div class="holder__path-title">Airlie Beach <br> Hawaii</div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Nights</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="nights" type="number" min="1" max="9" step="1" value="5">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                nights
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle"># of Guests</div>
              <div class="holder__path-title">
                <div class="quantity">
                  <input class="guests" type="number" min="1" max="9" step="1" value="4">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up">+</div>
                    <div class="quantity-button quantity-down">-</div>
                  </div>
                </div>
                guests
              </div>
            </div>
            <div class="holder__path">
              <div class="holder__path-subtitle">Pricing</div>
              <div class="holder__path-title"><i data-nights='55' data-guests='25' class="sum">349</i> USD <span>Per
                  Night</span></div>
            </div>
          </div>
          <div class="holder__path-btn">
            <a href="#" class="btn">Book <span>Stay</span></a>
          </div>
        </div>
      </div>
    </section>