    <!-- SECTION SURF -->
    <section id="surf" class="surf">
      <div class="right-image anim">
        <img src="images/surf-bg.svg" alt="Map pin">
      </div>
      <div class="title">
        <span class="anim">surf</span>
        <h2 class="anim">surf</h2>
      </div>
      <div class="surf__subtitle">
        <div class="subtitle">
          <div class="headline-left anim">Current location</div>
          <h3 class="subtitle__head anim">California <span>|</span> USA</h3>
        </div>
      </div>

      <!-- slider dots -->
      <div class="surf__map anim">
        <div class="surf__dots-container">
          <!-- slider dot 1 -->
          <div class="dots-item surf__dots surf__dots--hawaii anim" data-dot="0" data-coords="21.3819° N, -158.1466° W">
            <div class="surf__circle"></div>
            <div class="surf__content">
              <div class="surf__content-row">
                <div class="surf__content-head">
                  <div class="surf__content-title">Depot Beach</div>
                  <div class="surf__content-subtitle">Hawaii</div>
                </div>
              </div>
              <div class="surf__content-row">
                <div class="surf__content-item">
                  <img src="images/surf.svg" alt="surf">
                  <div class="surf__content-number">11 - 15</div>
                  <div class="surf__content-name">surf (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/water.svg" alt="water">
                  <div class="surf__content-number">+1.7</div>
                  <div class="surf__content-name">tide (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/wind.svg" alt="wind">
                  <div class="surf__content-number">3 NW</div>
                  <div class="surf__content-name">wind (kts)</div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider dot 2 -->
          <div class="dots-item surf__dots surf__dots--california anim" data-dot="1" data-coords="34.0381° N, -118.6923° W">
            <div class="surf__circle"></div>
            <div class="surf__content">
              <div class="surf__content-row">
                <div class="surf__content-head">
                  <div class="surf__content-title">Malibu Beach</div>
                  <div class="surf__content-subtitle">California</div>
                </div>
              </div>
              <div class="surf__content-row">
                <div class="surf__content-item">
                  <img src="images/surf.svg" alt="surf">
                  <div class="surf__content-number">7 - 14</div>
                  <div class="surf__content-name">surf (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/water.svg" alt="water">
                  <div class="surf__content-number">+1.1</div>
                  <div class="surf__content-name">tide (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/wind.svg" alt="wind">
                  <div class="surf__content-number">4 NW</div>
                  <div class="surf__content-name">wind (kts)</div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider dot 3 -->
          <div class="dots-item surf__dots surf__dots--dominikana anim" data-dot="2" data-coords="19.7808° N, -70.6871° W">
            <div class="surf__circle"></div>
            <div class="surf__content">
              <div class="surf__content-row">
                <div class="surf__content-head">
                  <div class="surf__content-title">Palapa Juanillo</div>
                  <div class="surf__content-subtitle">Dominikana</div>
                </div>
              </div>
              <div class="surf__content-row">
                <div class="surf__content-item">
                  <img src="images/surf.svg" alt="surf">
                  <div class="surf__content-number">13 - 18</div>
                  <div class="surf__content-name">surf (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/water.svg" alt="water">
                  <div class="surf__content-number">+2.4</div>
                  <div class="surf__content-name">tide (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/wind.svg" alt="wind">
                  <div class="surf__content-number">6 NE</div>
                  <div class="surf__content-name">wind (kts)</div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider dot 4 -->
          <div class="dots-item surf__dots surf__dots--brasil anim" data-dot="3" data-coords="-23.9869° S, -46.1865° W">
            <div class="surf__circle"></div>
            <div class="surf__content">
              <div class="surf__content-row">
                <div class="surf__content-head">
                  <div class="surf__content-title">Eden’s Beach</div>
                  <div class="surf__content-subtitle">Brasil</div>
                </div>
              </div>
              <div class="surf__content-row">
                <div class="surf__content-item">
                  <img src="images/surf.svg" alt="surf">
                  <div class="surf__content-number">11 - 15</div>
                  <div class="surf__content-name">surf (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/water.svg" alt="water">
                  <div class="surf__content-number">+1.6</div>
                  <div class="surf__content-name">tide (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/wind.svg" alt="wind">
                  <div class="surf__content-number">5 SW</div>
                  <div class="surf__content-name">wind (kts)</div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider dot 5 -->
          <div class="dots-item surf__dots surf__dots--france anim" data-dot="4" data-coords="43.7858° N, -1.4010° W">
            <div class="surf__circle"></div>
            <div class="surf__content">
              <div class="surf__content-row">
                <div class="surf__content-head">
                  <div class="surf__content-title">Vieux Boucaux</div>
                  <div class="surf__content-subtitle">France</div>
                </div>
              </div>
              <div class="surf__content-row">
                <div class="surf__content-item">
                  <img src="images/surf.svg" alt="surf">
                  <div class="surf__content-number">10 - 12</div>
                  <div class="surf__content-name">surf (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/water.svg" alt="water">
                  <div class="surf__content-number">+2.1</div>
                  <div class="surf__content-name">tide (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/wind.svg" alt="wind">
                  <div class="surf__content-number">8 SW</div>
                  <div class="surf__content-name">wind (kts)</div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider dot 6 -->
          <div class="dots-item surf__dots surf__dots--africa anim" data-dot="5" data-coords="-30.5622° S, -30.5419° E">
            <div class="surf__circle"></div>
            <div class="surf__content">
              <div class="surf__content-row">
                <div class="surf__content-head">
                  <div class="surf__content-title">Kings Beach</div>
                  <div class="surf__content-subtitle">South Africa</div>
                </div>
              </div>
              <div class="surf__content-row">
                <div class="surf__content-item">
                  <img src="images/surf.svg" alt="surf">
                  <div class="surf__content-number">7 - 13</div>
                  <div class="surf__content-name">surf (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/water.svg" alt="water">
                  <div class="surf__content-number">+3.0</div>
                  <div class="surf__content-name">tide (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/wind.svg" alt="wind">
                  <div class="surf__content-number">4 SE</div>
                  <div class="surf__content-name">wind (kts)</div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider dot 7 -->
          <div class="dots-item surf__dots surf__dots--philippines anim" data-dot="6" data-coords="2.7589° S, 120.9203° E">
            <div class="surf__circle"></div>
            <div class="surf__content">
              <div class="surf__content-row">
                <div class="surf__content-head">
                  <div class="surf__content-title">Cloud Nine</div>
                  <div class="surf__content-subtitle">Philippines</div>
                </div>
              </div>
              <div class="surf__content-row">
                <div class="surf__content-item">
                  <img src="images/surf.svg" alt="surf">
                  <div class="surf__content-number">11 - 15</div>
                  <div class="surf__content-name">surf (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/water.svg" alt="water">
                  <div class="surf__content-number">+1.7</div>
                  <div class="surf__content-name">tide (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/wind.svg" alt="wind">
                  <div class="surf__content-number">3 NW</div>
                  <div class="surf__content-name">wind (kts)</div>
                </div>
              </div>
            </div>
          </div>
          <!-- slider dot 8 -->
          <div class="dots-item surf__dots surf__dots--australia anim" data-dot="7" data-coords="-25.6263° S, 153.1408° E">
            <div class="surf__circle"></div>
            <div class="surf__content">
              <div class="surf__content-row">
                <div class="surf__content-head">
                  <div class="surf__content-title">Airlie Beach</div>
                  <div class="surf__content-subtitle">Australia</div>
                </div>
              </div>
              <div class="surf__content-row">
                <div class="surf__content-item">
                  <img src="images/surf.svg" alt="surf">
                  <div class="surf__content-number">9 - 13</div>
                  <div class="surf__content-name">surf (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/water.svg" alt="water">
                  <div class="surf__content-number">+2.3</div>
                  <div class="surf__content-name">tide (ft)</div>
                </div>
                <div class="surf__content-item">
                  <img src="images/wind.svg" alt="wind">
                  <div class="surf__content-number">4 SE</div>
                  <div class="surf__content-name">wind (kts)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span class="surf__map-coordinates anim">34.0501 N -118.2446 W</span>
      </div>

      <!-- surf slider -->
      <div class="surf__slider slider">
        <div class="slider-arrow anim">
          <button class="slider-arrow__prev"><img src="images/arrow-left.svg" alt="Prev slider"></button>
          <button class="slider-arrow__next"><img src="images/arrow-right.svg" alt="Next slider"></button>
        </div>
        <div class="surf__slider-container slider-container">
        <!-- slider item 1 -->
          <div class="slider-item surf__box" style="background-image: url(images/surf-slider-4.webp);" data-slide="0">
            <div class="surf__box-inner">
              <div class="surf__box-title">Depot Beach</div>
              <div class="surf__box-location">Hawaii <span>|</span> USA</div>
              <div class="surf__box-btn">
                <a href="#" class="btn">view <span>surf</span></a>
              </div>
            </div>
          </div>
          <!-- slider item 2 -->
          <div class="slider-item surf__box" style="background-image: url(images/surf-slider-1.webp);" data-slide="1">
            <div class="surf__box-inner">
              <div class="surf__box-title">Malibu Beach</div>
              <div class="surf__box-location">California <span>|</span> USA</div>
              <div class="surf__box-btn">
                <a href="#" class="btn">view <span>surf</span></a>
              </div>
            </div>
          </div>
          <!-- slider item 3 -->
          <div class="slider-item surf__box" style="background-image: url(images/surf-slider-2.webp);" data-slide="2">
            <div class="surf__box-inner">
              <div class="surf__box-title">Palapa Juanillo</div>
              <div class="surf__box-location">Santo Domingo <span>|</span> Dominikana</div>
              <div class="surf__box-btn">
                <a href="#" class="btn">view <span>surf</span></a>
              </div>
            </div>
          </div>
          <!-- slider item 4 -->
          <div class="slider-item surf__box" style="background-image: url(images/surf-slider-3.webp);" data-slide="3">
            <div class="surf__box-inner">
              <div class="surf__box-title">Eden’s Beach</div>
              <div class="surf__box-location">San Paulo <span>|</span> Brasil</div>
              <div class="surf__box-btn">
                <a href="#" class="btn">view <span>surf</span></a>
              </div>
            </div>
          </div>
          <!-- slider item 5 -->
          <div class="slider-item surf__box" style="background-image: url(images/surf-slider-4.webp);" data-slide="4">
            <div class="surf__box-inner">
              <div class="surf__box-title">Vieux Boucau</div>
              <div class="surf__box-location">Hossegor <span>|</span> France</div>
              <div class="surf__box-btn">
                <a href="#" class="btn">view <span>surf</span></a>
              </div>
            </div>
          </div>
          <!-- slider item 6 -->
          <div class="slider-item surf__box" style="background-image: url(images/surf-slider-1.webp);" data-slide="5">
            <div class="surf__box-inner">
              <div class="surf__box-title">Kings Beach</div>
              <div class="surf__box-location">Gqeberha <span>|</span> South Africa</div>
              <div class="surf__box-btn">
                <a href="#" class="btn">view <span>surf</span></a>
              </div>
            </div>
          </div>
          <!-- slider item 7 -->
          <div class="slider-item surf__box" style="background-image: url(images/surf-slider-3.webp);" data-slide="6">
            <div class="surf__box-inner">
              <div class="surf__box-title">Cloud Nine</div>
              <div class="surf__box-location">Siargao <span>|</span> Philippines</div>
              <div class="surf__box-btn">
                <a href="#" class="btn">view <span>surf</span></a>
              </div>
            </div>
          </div>
          <!-- slider item 8 -->
          <div class="slider-item surf__box" style="background-image: url(images/surf-slider-2.webp);" data-slide="7">
            <div class="surf__box-inner">
              <div class="surf__box-title">Airlie Beach</div>
              <div class="surf__box-location">Queensland <span>|</span> Australia</div>
              <div class="surf__box-btn">
                <a href="#" class="btn">view <span>surf</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>