

<section class="surf">
  <div class="title">
    <span>
      surf
      <h3 class="wow animate__animated animate__fadeInLeft">surf</h3>
    </span>
  </div>
  <div class="surf__subtitle">
    <div class="subtitle wow animate__animated animate__fadeInRight">
      <div class="headline-left">Current location</div>
      <div class="subtitle__head">California <span>|</span> USA</div>
    </div>
  </div>

  <div class="surf__map wow animate__animated animate__fadeIn" data-wow-delay="1s">
    <div class="surf__dots surf__dots--hawaii">
      <div class="surf__circle"></div>
      <div class="surf__content">
        <div class="surf__content-row">
          <div class="surf__content-head">
            <div class="surf__content-title">Depot Beach</div>
            <div class="surf__content-subtitle">Hawaii</div>
          </div>
          <div class="surf__content-link">
            <img src="images/arrow-right.svg" alt="arrow">
          </div>
        </div>
        <div class="surf__content-row">
          <div class="surf__content-item">
            <img src="images/surf.svg" alt="surf">
            <div class="surf__content-number">11 - 15</div>
            <div class="surf__content-name">surf (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/water.svg" alt="water">
            <div class="surf__content-number">+1.7</div>
            <div class="surf__content-name">tide (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/wind.svg" alt="wind">
            <div class="surf__content-number">3 NW</div>
            <div class="surf__content-name">wind (kts)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="surf__dots surf__dots--california">
      <div class="surf__circle"></div>
      <div class="surf__content">
        <div class="surf__content-row">
          <div class="surf__content-head">
            <div class="surf__content-title">Malibu Beach</div>
            <div class="surf__content-subtitle">California</div>
          </div>
          <div class="surf__content-link">
            <img src="images/arrow-right.svg" alt="arrow">
          </div>
        </div>
        <div class="surf__content-row">
          <div class="surf__content-item">
            <img src="images/surf.svg" alt="surf">
            <div class="surf__content-number">7 - 14</div>
            <div class="surf__content-name">surf (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/water.svg" alt="water">
            <div class="surf__content-number">+1.1</div>
            <div class="surf__content-name">tide (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/wind.svg" alt="wind">
            <div class="surf__content-number">4 NW</div>
            <div class="surf__content-name">wind (kts)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="surf__dots surf__dots--dominikana">
      <div class="surf__circle"></div>
      <div class="surf__content">
        <div class="surf__content-row">
          <div class="surf__content-head">
            <div class="surf__content-title">Palapa Juanillo</div>
            <div class="surf__content-subtitle">Dominikana</div>
          </div>
          <div class="surf__content-link">
            <img src="images/arrow-right.svg" alt="arrow">
          </div>
        </div>
        <div class="surf__content-row">
          <div class="surf__content-item">
            <img src="images/surf.svg" alt="surf">
            <div class="surf__content-number">13 - 18</div>
            <div class="surf__content-name">surf (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/water.svg" alt="water">
            <div class="surf__content-number">+2.4</div>
            <div class="surf__content-name">tide (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/wind.svg" alt="wind">
            <div class="surf__content-number">6 NE</div>
            <div class="surf__content-name">wind (kts)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="surf__dots surf__dots--brasil">
      <div class="surf__circle"></div>
      <div class="surf__content">
        <div class="surf__content-row">
          <div class="surf__content-head">
            <div class="surf__content-title">Eden’s Beach</div>
            <div class="surf__content-subtitle">Brasil</div>
          </div>
          <div class="surf__content-link">
            <img src="images/arrow-right.svg" alt="arrow">
          </div>
        </div>
        <div class="surf__content-row">
          <div class="surf__content-item">
            <img src="images/surf.svg" alt="surf">
            <div class="surf__content-number">11 - 15</div>
            <div class="surf__content-name">surf (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/water.svg" alt="water">
            <div class="surf__content-number">+1.6</div>
            <div class="surf__content-name">tide (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/wind.svg" alt="wind">
            <div class="surf__content-number">5 SW</div>
            <div class="surf__content-name">wind (kts)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="surf__dots surf__dots--france">
      <div class="surf__circle"></div>
      <div class="surf__content">
        <div class="surf__content-row">
          <div class="surf__content-head">
            <div class="surf__content-title">Vieux Boucau</div>
            <div class="surf__content-subtitle">France</div>
          </div>
          <div class="surf__content-link">
            <img src="images/arrow-right.svg" alt="arrow">
          </div>
        </div>
        <div class="surf__content-row">
          <div class="surf__content-item">
            <img src="images/surf.svg" alt="surf">
            <div class="surf__content-number">10 - 12</div>
            <div class="surf__content-name">surf (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/water.svg" alt="water">
            <div class="surf__content-number">+2.1</div>
            <div class="surf__content-name">tide (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/wind.svg" alt="wind">
            <div class="surf__content-number">8 SW</div>
            <div class="surf__content-name">wind (kts)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="surf__dots surf__dots--africa">
      <div class="surf__circle"></div>
      <div class="surf__content">
        <div class="surf__content-row">
          <div class="surf__content-head">
            <div class="surf__content-title">Kings Beach</div>
            <div class="surf__content-subtitle">South Africa</div>
          </div>
          <div class="surf__content-link">
            <img src="images/arrow-right.svg" alt="arrow">
          </div>
        </div>
        <div class="surf__content-row">
          <div class="surf__content-item">
            <img src="images/surf.svg" alt="surf">
            <div class="surf__content-number">7 - 13</div>
            <div class="surf__content-name">surf (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/water.svg" alt="water">
            <div class="surf__content-number">+3.0</div>
            <div class="surf__content-name">tide (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/wind.svg" alt="wind">
            <div class="surf__content-number">4 SE</div>
            <div class="surf__content-name">wind (kts)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="surf__dots surf__dots--philippines">
      <div class="surf__circle"></div>
      <div class="surf__content">
        <div class="surf__content-row">
          <div class="surf__content-head">
            <div class="surf__content-title">Cloud Nine</div>
            <div class="surf__content-subtitle">Philippines</div>
          </div>
          <div class="surf__content-link">
            <img src="images/arrow-right.svg" alt="arrow">
          </div>
        </div>
        <div class="surf__content-row">
          <div class="surf__content-item">
            <img src="images/surf.svg" alt="surf">
            <div class="surf__content-number">11 - 15</div>
            <div class="surf__content-name">surf (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/water.svg" alt="water">
            <div class="surf__content-number">+1.7</div>
            <div class="surf__content-name">tide (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/wind.svg" alt="wind">
            <div class="surf__content-number">3 NW</div>
            <div class="surf__content-name">wind (kts)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="surf__dots surf__dots--australia">
      <div class="surf__circle"></div>
      <div class="surf__content">
        <div class="surf__content-row">
          <div class="surf__content-head">
            <div class="surf__content-title">Airlie Beach</div>
            <div class="surf__content-subtitle">Australia</div>
          </div>
          <div class="surf__content-link">
            <img src="images/arrow-right.svg" alt="arrow">
          </div>
        </div>
        <div class="surf__content-row">
          <div class="surf__content-item">
            <img src="images/surf.svg" alt="surf">
            <div class="surf__content-number">9 - 13</div>
            <div class="surf__content-name">surf (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/water.svg" alt="water">
            <div class="surf__content-number">+2.3</div>
            <div class="surf__content-name">tide (ft)</div>
          </div>
          <div class="surf__content-item">
            <img src="images/wind.svg" alt="wind">
            <div class="surf__content-number">4 SE</div>
            <div class="surf__content-name">wind (kts)</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="surf__slider">
    <div>
      <div class="surf__box wow animate__animated animate__fadeInUp"
        style="background-image: url(images/content/surf-slider-4.jpg);">
        <div class="surf__box-inner">
          <div class="surf__box-title">Depot Beach</div>
          <div class="surf__box-location">Hawaii <span>|</span> USA</div>
          <div class="surf__box-btn">
            <a href="#" class="btn">view <span>surf</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="surf__box wow animate__animated animate__fadeInUp" data-wow-delay='.5s'
        style="background-image: url(images/content/surf-slider-1.jpg);">
        <div class="surf__box-inner">
          <div class="surf__box-title">Malibu Beach</div>
          <div class="surf__box-location">California <span>|</span> USA</div>
          <div class="surf__box-btn">
            <a href="#" class="btn">view <span>surf</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="surf__box wow animate__animated animate__fadeInUp" data-wow-delay='1s'
        style="background-image: url(images/content/surf-slider-2.jpg);">
        <div class="surf__box-inner">
          <div class="surf__box-title">Palapa Juanillo</div>
          <div class="surf__box-location">Santo Domingo <span>|</span> Dominikana</div>
          <div class="surf__box-btn">
            <a href="#" class="btn">view <span>surf</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="surf__box wow animate__animated animate__fadeInUp" data-wow-delay='1.5s'
        style="background-image: url(images/content/surf-slider-3.jpg);">
        <div class="surf__box-inner">
          <div class="surf__box-title">Eden’s Beach</div>
          <div class="surf__box-location">San Paulo <span>|</span> Brasil</div>
          <div class="surf__box-btn">
            <a href="#" class="btn">view <span>surf</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="surf__box wow animate__animated animate__fadeInUp" data-wow-delay='2s'
        style="background-image: url(images/content/surf-slider-4.jpg);">
        <div class="surf__box-inner">
          <div class="surf__box-title">Vieux Boucau</div>
          <div class="surf__box-location">Hossegor <span>|</span> France</div>
          <div class="surf__box-btn">
            <a href="#" class="btn">view <span>surf</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="surf__box" style="background-image: url(images/content/surf-slider-1.jpg);">
        <div class="surf__box-inner">
          <div class="surf__box-title">Kings Beach</div>
          <div class="surf__box-location">Gqeberha <span>|</span> South Africa</div>
          <div class="surf__box-btn">
            <a href="#" class="btn">view <span>surf</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="surf__box" style="background-image: url(images/content/surf-slider-3.jpg);">
        <div class="surf__box-inner">
          <div class="surf__box-title">Cloud Nine</div>
          <div class="surf__box-location">Siargao <span>|</span> Philippines</div>
          <div class="surf__box-btn">
            <a href="#" class="btn">view <span>surf</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="surf__box" style="background-image: url(images/content/surf-slider-2.jpg);">
        <div class="surf__box-inner">
          <div class="surf__box-title">Airlie Beach</div>
          <div class="surf__box-location">Queensland <span>|</span> Australia</div>
          <div class="surf__box-btn">
            <a href="#" class="btn">view <span>surf</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>